<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/customer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelManager"
        tools:targetApi="31"
        android:name=".App">
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">

        </activity>
        <activity android:name="com.haiprj.apps.hotelmanager.ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.haiprj.apps.hotelmanager.ui.activities.SignActivity" />
        <activity android:name="com.haiprj.apps.hotelmanager.ui.activities.RoomDiagramActivity" />
        <activity android:name="com.haiprj.apps.hotelmanager.ui.activities.HotelManagerActivity" />
        <activity android:name="com.haiprj.apps.hotelmanager.ui.activities.SettingActivity" />
        <activity android:name="com.haiprj.apps.hotelmanager.ui.activities.BillsActivity" />
        <activity android:name="com.haiprj.apps.hotelmanager.ui.activities.BookingActivity" />
        <activity android:name="com.haiprj.apps.hotelmanager.ui.activities.InsertFloorActivity" />
        <activity android:name="com.haiprj.apps.hotelmanager.ui.activities.InsertRoomActivity" />
        <!--        <activity android:name="com.haiprj.apps.hotelmanager.ui.dialogs.UpdateRoomDialog"-->
<!--            android:theme="@style/Theme.Transparent"/>-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-3940256099942544~3347511713y"/>-->
    </application>

</manifest>